# Keil 输出目录
Listings/
Objects/

# Keil 临时文件
*.o
*.d
*.crf
*.htm
*.lnp
*.map
*.axf
*.hex
*.bin
*.elf
*.sct
*.lst
*.i
*.dep
*.bak
*.uvguix.*
*.uvoptx
*.uvprojx
*.uvgui.*
*.scr
*.dbg
*.plg
*.tra
*.dep

# 其他
*.log
*.tmp
*.swp